html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Heebo sans-serif,
    sans-serif;
  /*background-color: #a1a1a1;*/
  /*max-width: ;*/
}

* {
  box-sizing: border-box;
}

.topbar {
  min-width: 100vw;
  height: 80px;
  background-color: #4880A0;
  font-size: 48px;
  font-weight: bold;
  color: white;
  /* text-align: center; */
  font-family: Heebo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  /* position: relative; */
  display: flex;
  width: 1000px;
  padding-left: 100px;
}

.text::after {
  content: "";
  margin-left: 15px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: flex;
  background-color: white;
  width: 10px;
  /* Set height to the line height of .text */
  height: 48px;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.container {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family:  */
}

hr {
  width: 900px;
  color: #f1f1f1;
  margin-bottom: 3em;
}

.section-title {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 32px;
  font-weight: bold;
  margin-left: 100px;
  font-family: Heebo;
  margin-bottom: 3rem;
}

.page {
  /*min-height: 100vh;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Heebo;
}

.image-portrait {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: url("/kris-main-pic.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  /*color: #0070f3;*/
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  /*text-decoration: underline;*/
}

.title {
  margin: 5%;
  font-family: Heebo;
  line-height: 60px;
  font-weight: bold;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}

.description {
  width: 100%;
  text-align: left;
  line-height: 1.5;
  font-size: 16px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.desc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.desc-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

.container-chrono {
  width: calc(1000px - 300px);
  height: 100%;
}

.card-content {
  width: 100%;
  font-family: Heebo;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.card-content .btn-link{
  width: 100%;
}

.card-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  line-height: 24px;
}

.card-title {
  display: flex;
  flex-direction: row;
}

.card-title h1 {
  font-size: 24px;
  font-weight: bold;
}

.card-title a {
  margin-left: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #8695A4;
}

.project-card {
  height: 100%;
  margin-bottom: 0px;
}

.project-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  padding-left: 200px;
}

.project-card hr {
  color: #e0e0e0;
  width: 700px;
  margin-right: 100px;
  margin-bottom: 5px;
  border: 1px solid #e0e0e0;
}

.project-card p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0p
}

.project-card .btn-link {
  width: 100px;
}

.project-card h1 {
  margin-top: 10px;
}

.project-image {
  width: 233px;
  height: 150px;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 10px;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 700px;
  margin-top: 3rem;
}

.card {
  width: 85%;
  margin: 1rem;
  flex-basis: 100%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #A9A9A9;
  border-color: #000000;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.exp-card {
  width: 85%;
  margin: 1rem;
  flex-basis: 100%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.exp-card:hover,
.exp-card:focus,
.exp-card:active {
  /*color: #f1f1f1;*/
  border-color: #000000;
}

.exp-card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.exp-card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-link {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 15px;
}

.btn-link:hover {
  color: white;
  background: #4880A0;
}

.link {
  color: #87CEEB;
  text-decoration: underline;
}

.repo {
  color: #000000;

}

.private {
  color: #65350F;
}

.logo {
  height: 2em;
}

.logo-github {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 3px;
  background: url("/github.png") no-repeat;
  background-position: center;
}

.logo-insta {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 3px;
  background: url("/instagram.png") no-repeat;
  background-position: center;
}

.logo-web {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 3px;
  background: url("/svg-web.svg") no-repeat;
  background-position: center;
}

.logo-resume {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 3px;
  background: url("/resume.png") no-repeat;
  background-position: center;
}

.logo-email {
  width: 27px;
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/mail.png") no-repeat;
  background-position: center;
}

.btn-link:hover .logo-email {
  /* width: 27px; */
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/mail-white.png") no-repeat;
  background-position: center;
}

.btn-link:hover .logo-insta {
  /* width: 27px; */
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/insta-white.png") no-repeat;
  background-position: center;
}

.btn-link:hover .logo-github {
  /* width: 27px; */
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/github-white.png") no-repeat;
  background-position: center;
}

.btn-link:hover .logo-resume {
  /* width: 27px; */
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/resume-white.png") no-repeat;
  background-position: center;
}

.btn-link:hover .logo-web {
  width: 27px;
  height: 23px;
  padding: 3px;
  margin-right: 3px;
  background: url("/web-white.png") no-repeat;
  background-position: center;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.links {
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.container-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
}

.top-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 99;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

button:focus {
  outline:0;
}
